/* TODO: insert styles here */
body {
  margin: 0em, 5em;
}
h1 {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  background-color: blue;
  margin-top: 0px;
  margin-bottom:  0px;
  }

h4 {
  font-family: 'Roboto Mono', monospace;
  margin-top: 4px;
  padding: 5px;
}

p {
  font-family: 'Roboto', sans-serif;
  padding: 5px;
}

.Local {
  display: inline-block;
  border-style: solid;
  border-color: blue;
  margin-right: 7px;

}

.Remotes {
  display: inline-block;
  border-style: solid;
  border-color: #FB4E32;
  margin-left: 30px;
  vertical-align: top;
  height: 9.2em;
}

.Center {
  display: flex;
  justify-content: center;
}

.Remotes h4 {
  color: #FB4E32;
}

.Local h4 {
  color: blue;
}

#border {
  border-top: solid blue;
}
#orange {
  background-color:#FB4E32;
}
